language: c
 
services: mongodb

install:
  - sudo apt-get install mono-devel mono-gmcs nunit-console
  - mozroots --import --sync
 
script:
  - xbuild ./src/Skahal.Infrastructure.Repositories.sln
  - nunit-console ./src/FunctionalTests/bin/Debug/Skahal.Infrastructure.Repositories.FunctionalTests.dll